<template>
  <header class="layout__header header">
    <div class="container">
      <!-- logo -->
      <div class="header__logo logo">
        <nuxt-link exact no-prefetch active-class="active" class="logo__link" to="/">
          <img class="logo__img" src="@/assets/img/logo.png">
        </nuxt-link>
      </div>
    </div><!-- //container -->
  </header><!-- //header -->
</template>

<script>
  export default {
    name: 'header',
    props: ['titleText'],

    computed: {},
    methods: {},
    async mounted() {},
    data () {
      return {

      }
    },
  }
</script>

<style scoped lang="sass">
  @import "../../assets/scss/helper/variables"
  @import "../../assets/scss/helper/media"
  .layout__header
    background-color: $colorWhite
    padding: 1rem 0
    position: relative
    @include transition

    .container
      display: flex
      align-items: center
      height: 100%
      justify-content: space-between

    .header__logo
      .logo__link
        height: 100%
        display: flex

      .logo__img
        height: 5rem
        width: auto
    .header__favorite
      .favorite__link
        display: flex
        align-items: flex-start
      .favorite__ico
        width: 2rem
        height: 2rem
</style>
