// container
.container
  width: 100rem
  max-width: calc(100vw - 2rem)
  margin: 0 auto

// row
.row
  display: flex
  flex-wrap: wrap
  width: calc(100% + 2rem)
  margin: 0 -1rem

.col
  display: flex
  flex-direction: column
  padding: 0 1rem
  box-sizing: border-box
  &.col_1
    width: 8.3333%

  &.col_2
    width: 16.666%

  &.col_3
    width: 25%

  &.col_4
    width: 33.3%

  &.col_5
    width: 41.666667%

  &.col_6
    width: 50%

  &.col_7
    width: 58.333333%

  &.col_8
    width: 66.666667%

  &.col_9
    width: 75%

  &.col_10
    width: 83.333333%

  &.col_11
    width: 91.666667%

  &.col_12
    width: 100%
  @include mediaMaxWidthHdDesktop
    &.col_hd-desktop-2
      width: 16.66%
    &.col_hd-desktop-3
      width: 25%
    &.col_hd-desktop-4
      width: 33.3%
    &.col_hd-desktop-5
      width: 41.666667%
    &.col_hd-desktop-6
      width: 50%
    &.col_hd-desktop-7
      width: 58.333333%
    &.col_hd-desktop-8
      width: 66.666667%
    &.col_hd-desktop-9
      width: 75%
    &.col_hd-desktop-10
      width: 83.333333%
    &.col_hd-desktop-11
      width: 91.666667%
    &.col_hd-desktop-12
      width: 100%
  @include mediaMaxWidthBigDesktop
    &.col_big-desktop-2
      width: 16.66%
    &.col_big-desktop-3
      width: 25%
    &.col_big-desktop-4
      width: 33.3%
    &.col_big-desktop-5
      width: 41.666667%
    &.col_big-desktop-6
      width: 50%
    &.col_big-desktop-7
      width: 58.333333%
    &.col_big-desktop-8
      width: 66.666667%
    &.col_big-desktop-9
      width: 75%
    &.col_big-desktop-10
      width: 83.333333%
    &.col_big-desktop-11
      width: 91.666667%
    &.col_big-desktop-12
      width: 100%
  @include mediaMaxWidthDesktop
    &.col_middle-desktop-2
      width: 16.66%
    &.col_middle-desktop-3
      width: 25%
    &.col_middle-desktop-4
      width: 33.3%
    &.col_middle-desktop-5
      width: 41.666667%
    &.col_middle-desktop-6
      width: 50%
    &.col_middle-desktop-7
      width: 58.333333%
    &.col_middle-desktop-8
      width: 66.666667%
    &.col_middle-desktop-9
      width: 75%
    &.col_middle-desktop-10
      width: 83.333333%
    &.col_middle-desktop-11
      width: 91.666667%
    &.col_middle-desktop-12
      width: 100%
  @include mediaMaxWidthTabletLand
    &.col_desktop-2
      width: 16.66%
    &.col_desktop-3
      width: 25%
    &.col_desktop-4
      width: 33.3%
    &.col_desktop-5
      width: 41.666667%
    &.col_desktop-6
      width: 50%
    &.col_desktop-7
      width: 58.333333%
    &.col_desktop-8
      width: 66.666667%
    &.col_desktop-9
      width: 75%
    &.col_desktop-10
      width: 83.333333%
    &.col_desktop-11
      width: 91.666667%
    &.col_desktop-12
      width: 100%
  @include mediaMaxWidthTablet
    &.col_tab-3
      width: 25%
    &.col_tab-4
      width: 33.3%
    &.col_tab-5
      width: 41.666667%
    &.col_tab-6
      width: 50%
    &.col_tab-7
      width: 58.333333%
    &.col_tab-8
      width: 66.666667%
    &.col_tab-9
      width: 75%
    &.col_tab-10
      width: 83.333333%
    &.col_tab-11
      width: 91.666667%
    &.col_tab-12
      width: 100%
  @include mediaMaxWidthTabletPort
    &.col_mob-3
      width: 25%
    &.col_mob-4
      width: 33.3%
    &.col_mob-6
      width: 50%
    &.col_mob-8
      width: 66.666667%
    &.col_mob-12
      width: 100%
  @include mediaMaxWidthMobile
    &.col_mob-p-12
      width: 100%

// DISPLAY
.d-flex
  display: flex
.d-block
  display: block
.d-none
  display: none
// DISPLAY ( mobile )
@include mediaMinWidthMobile
.d-sm-flex
  display: flex
.d-sm-block
  display: block
.d-sm-none
  display: none
// DISPLAY ( tablet )
@include mediaMinWidthTablet
.d-md-flex
  display: flex
.d-md-block
  display: block
.d-md-none
  display: none
// DISPLAY ( desktop )
@include mediaMinWidthDesktop
.d-lg-flex
  display: flex
.d-lg-block
  display: block
.d-lg-none
  display: none


// TEXT
.text-center
  text-align: center
.text-left
  text-align: left
.text-right
  text-align: right
// TEXT ( mobile )
@include mediaMinWidthMobile
.text-sm-center
  text-align: center
.text-sm-left
  text-align: left
.text-sm-right
  text-align: right
// TEXT ( tablet )
@include mediaMinWidthTablet
.text-md-center
  text-align: center
.text-md-left
  text-align: left
.text-md-right
  text-align: right
// TEXT ( desktop )
@include mediaMinWidthDesktop
.text-lg-center
  text-align: center
.text-lg-left
  text-align: left
.text-lg-right
  text-align: right



// DIRECTION
.direction-row
  flex-direction: row
.direction-col
  flex-direction: column
// DIRECTION ( mobile )
@include mediaMinWidthMobile
  .direction-sm-row
    flex-direction: row
  .direction-sm-col
    flex-direction: column
// DIRECTION ( tablet )
@include mediaMinWidthTablet
  .direction-md-row
    flex-direction: row
  .direction-md-col
    flex-direction: column
// DIRECTION ( desktop )
@include mediaMinWidthDesktop
  .direction-lg-row
    flex-direction: row
  .direction-lg-col
    flex-direction: column


// JUSTIFY
.justify-center
  justify-content: center
.justify-left
  justify-content: flex-start
.justify-right
  justify-content: flex-end
// JUSTIFY ( mobile )
@include mediaMinWidthMobile
.justify-sm-center
  justify-content: center
.justify-sm-left
  justify-content: flex-start
.justify-sm-right
  justify-content: flex-end
// JUSTIFY ( tablet )
@include mediaMinWidthTablet
.justify-md-center
  justify-content: center
.justify-md-left
  justify-content: flex-start
.justify-md-right
  justify-content: flex-end
// JUSTIFY ( desktop )
@include mediaMinWidthDesktop
.justify-lg-center
  justify-content: center
.justify-lg-left
  justify-content: flex-start
.justify-lg-right
  justify-content: flex-end



// ALIGN
.align-center
  align-items: center
.align-left
  align-items: flex-start
.align-right
  align-items: flex-end

// ALIGN ( mobile )
@include mediaMinWidthMobile
.align-sm-center
  align-items: center
.align-sm-left
  align-items: flex-start
.align-sm-right
  align-items: flex-end
// ALIGN ( tablet )
@include mediaMinWidthTablet
.align-md-center
  align-items: center
.align-md-left
  align-items: flex-start
.align-md-right
  align-items: flex-end
// ALIGN ( desktop )
@include mediaMinWidthDesktop
.align-lg-center
  align-items: center
.align-lg-left
  align-items: flex-start
.align-lg-right
  align-items: flex-end
