// RESET
//@font-face
//  font-family: ProximaNova
//  font-display: auto
//  font-weight: 300
//  src: url(../fonts/ProximaNova-Light.eot)
//  src: url(../fonts/ProximaNova-Light.eot) format("embedded-opentype")
//  src: local("ProximaNova-Light"), url(../fonts/ProximaNova-Light.woff) format("woff"), url(../fonts/ProximaNova-Light.ttf) format("truetype")

// RESET
html, body, div, span, applet, object, iframe,main,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, button, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video
  margin: 0
  padding: 0
  border: 0
  font: inherit
  outline: none
  vertical-align: baseline
  box-sizing: border-box

main, article, aside, details, figcaption, figure,
footer, header, menu, nav, section
  display: block

html
  font: 16px/24px $mainFont

body
  color: $colorPrimary400
  -webkit-font-smoothing: antialiased
  -webkit-text-size-adjust: none
html,
body
  min-height: 100%


.layout
  display: flex
  flex-direction: column
  min-height: 100vh
  overflow: hidden
  overflow-y: auto

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6
  font-weight: 600
  &:not(:last-child)
    margin: 0 0 1.5rem

h1,
.h1
  font-size: 1.75rem
  line-height: 2.25rem
  @include mediaMinWidthTablet
    font-size: 2.5rem
    line-height: 3rem

h2,
.h2
  font-size: 1.5rem
  line-height: 2.25rem
  @include mediaMinWidthTablet
    font-size: 1.75rem
    line-height: 2.25rem

h3,
.h3
  font-size: 1.25rem
  line-height: 1.75rem
  @include mediaMinWidthTablet
    font-size: 1.5rem
    line-height: 2.25rem
h4,
.h4
  font-size: 1.25rem
  line-height: 1.5rem
  @include mediaMinWidthTablet
    font-size: 1.25rem
    line-height: 1.75rem

h5,
.h5
  font-size: 1rem
  line-height: 1.5rem
  @include mediaMinWidthTablet
    font-size: 1.25rem
    line-height: 1.5rem

h6,
.h6
  font-size: 1rem
  line-height: 1.5rem

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a
  color: $colorPrimary400
  text-decoration: none
  &:hover
    text-decoration: underline
strong
  font-weight: 600
a
  color: $colorPrimary400
  text-decoration: none
  &:hover
    text-decoration: none

ul, p, ol
  padding: 0
  margin-bottom: 0
  &:not(:last-child)
    margin-bottom: 1.5rem
  &:empty
    display: none
ul,
ol
  list-style: none
  ul,
  ol
    margin: 0.5rem 0
  li
    margin: 0 0 0.5rem

img,
svg
  outline: none
  max-width: 100%
  object-fit: cover
  height: auto

// Special Text Elements
sup,
.sup
  color: $colorSecondary400
  font-size: 0.75rem
  position: relative
  top: -0.25rem

blockquote
  font-style: italic
  padding-left: 1.25rem
  margin-bottom: 2rem
  border-left: 1.125rem solid $colorPrimary300
q,
.q
  quotes: "\00ab" "\00bb"
  margin-bottom: 1.5rem
  display: block
  q
    quotes: "\201e" "\201c"

dl
  display: flex
  margin-bottom: 1rem
  &:not(:last-child)
    margin-bottom: .5rem
  dt
    color: $colorPrimary300
    min-width: 5rem
    &:not(:last-child)
      margin-right: .5rem
