// characters
.characters
  .characters__item
    display: flex
    align-items: flex-start
    position: relative
    &:not(:last-child)
      margin-bottom: 1rem

  .characters__media
    width: 4rem
    height: 4rem
    border-radius: 50%
    background-repeat: no-repeat
    background-size: cover
    background-position: center

    &:not(:last-child)
      margin-right: 1rem

  .characters__main
    display: flex
    flex-direction: column
  .characters__content
    &:not(:last-child)
      margin-bottom: .25rem
  .characters__title
    .title__text
      color: $colorPrimary500
      font-size: 2rem
      line-height: 2rem
      font-weight: 700
      cursor: pointer
      @include transition
      &:hover
        color: $colorSecondary500

  .characters__status
    &.characters__status_main
      .status__text
        color: $colorSecondary500

    &.characters__status_second
      .status__text
        color: $colorTertiary500
  .characters___favorite
    &.characters___favorite_active
      .favorite__ico
        fill: $colorSecondary500
    .favorite__ico
      width: 1rem
      height: 1rem
      fill: $colorPrimary500
      cursor: pointer

.dropdown
  position: relative
  .dropdown__list
    position: absolute
    top: 100%
    left: 0
    width: 100%
    padding: 1.5rem 1.5rem
    background-color: $colorWhite
    z-index: 2
    border-radius: 0.5rem
    border: 0.125rem solid $colorPrimary200

.characters__favorite
  .favorite__preview
    .favorite__ico
      width: 3.5rem
      height: 3.5rem
  .dropdown__list
    top: calc(100% + .75rem)
