// character
.character
  .character__item
    &:not(:last-child)
      margin-bottom: 1rem
  .character__title
    &:not(:last-child)
      margin-bottom: .5rem
    .title__text
      font-weight: 700
  .character__value
    .value__text
      color: $colorSecondary500
      font-weight: 700
  .character__media
    width: 10rem
    height: 10rem
    border-radius: .5rem
    position: relative
    background-repeat: no-repeat
    background-position: center
    background-size: cover
    .media__label
      display: flex
      height: 100%
    .media__input
      position: absolute
      top: 0
      left: -999px
  .value__list
    margin: 0
    display: flex
    flex-wrap: wrap
    .value__item
      margin: 0 .25rem .5rem 0
