// white color
$colorWhite: #ffffff
// error color
$colorRed: #FFAFAF
// succes color
$colorGreen: #013220
// primary color
$colorPrimary100: #F7FAFC
$colorPrimary200: #E6E8EC
$colorPrimary300: #7A828A
$colorPrimary400: #353945
$colorPrimary500: #16192C
// secondary color
$colorSecondary300: #CCF1D6
$colorSecondary400: #00BA34
$colorSecondary500: #00952A
// tertiary color
$colorTertiary200: #FFAFAF
$colorTertiary300: #F93C00
$colorTertiary400: #EE2828
$colorTertiary500: #C73000
// fonts
$mainFont: 'Montserrat', sans-serif

// mixin
@mixin transition()
  transition: all 0.2s ease-in-out

@mixin transition-long()
  transition: all 0.4s ease-in-out

@mixin transform()
  transform: translate(-50%, -50%)

@mixin transform-x()
  transform: translateX(-50%)

@mixin transform-y()
  transform: translateY(-50%)

@mixin transform-none()
  transform: translate(0 , 0)