// button
.btn
  color: $colorSecondary400
  background-color: $colorWhite
  font-size: 1rem
  line-height: 1rem
  font-weight: 400
  padding: 1rem 1.25rem
  border-radius: .5rem
  border: .125rem solid $colorPrimary200
  margin: 0
  text-decoration: none
  display: inline-block
  cursor: pointer
  outline: none
  text-align: center
  appearance: none
  @include transition
  &:hover
    color: $colorWhite
    background: $colorSecondary400
    border-color: $colorSecondary400
    text-decoration: none
  &:disabled
    border-color: $colorPrimary300
    background-color: $colorPrimary300

  &.btn_secondary
    color: $colorWhite
    background-color: $colorSecondary400
    border: 1px solid $colorWhite
    &:hover
      color: $colorSecondary400
      background: $colorWhite
      border-color: $colorSecondary400
