.wysiwyg
  &:not(:last-child)
    margin-bottom: 1.5rem
  img,
  svg
    display: block
    margin-bottom: 1.5rem
  ul
    list-style: none
    ul
      margin-left: 0
    li
      position: relative
      padding-left: 2rem
      &:before
        content: ""
        left: .5rem
        top: .4rem
        width: .5rem
        height: .5rem
        border-radius: 50%
        background-color: $colorSecondary400
        position: absolute
        @include mediaMaxWidthTablet
          top: 0
          left: 0
  ol
    list-style: decimal
    padding-left: 1rem
    li
      margin: 0 0 0.5rem
  a
    color: $colorRed
    position: relative
    white-space: nowrap

    &:hover
      &:before
        opacity: 1
    &:before
      content: ""
      position: absolute
      top: calc(100% + .125rem)
      left: 0
      height: 1px
      width: 100%
      background-color: $colorRed
      opacity: .2
      @include transition






















