<template>
  <div class="layout">
    <Header/>
    <main class="layout__main">
        <nuxt />
    </main>
    <Modal/>
    <Footer/>
  </div>
</template>
<script>
import Header from '@/components/layout/header'
export default {
  name: "default",
  async fetch() {
    await this.$store.dispatch("users/actionsUsers");
  },
  components: {
    Header
  },
}
</script>
