<template>
  <section class="layout__section section">
    <div class="section__header">
      <div class="container">
        <div class="wysiwyg">
          <h1>{{pageTitle}}</h1>
        </div>
      </div>
    </div>
    <div class="section__main">
      <div class="container">
        <div class="character">
          <div class="character__list">
            <!-- Name -->
            <div class="character__item">
              <div class="character__title title"><span class="title__text">{{detail.name}}</span></div>
              <div class="character__value value"><span class="value__text">{{getUsersId.name}}</span></div>
            </div>
            <!-- Avatar -->
            <div class="character__item">
              <div class="character__title title"><span class="title__text">{{detail.media}}</span></div>
              <div class="character__media media">
                <label class="media__label">
                  <img :src="getUsersId.image">
                <input class="media__input" type="file" ref="file" @change="methodChangeAvatar">
                </label>
              </div>
            </div>
            <!-- Species -->
            <div class="character__item">
              <div class="character__title title"><span class="title__text">{{detail.species}}</span></div>
              <div class="character__value value"><span class="value__text">{{getUsersId.species}}</span></div>
            </div>
            <!-- Gender -->
            <div class="character__item">
              <div class="character__title title"><span class="title__text">{{detail.gender}}</span></div>
              <div class="character__value value"><span class="value__text">{{getUsersId.gender}}</span></div>
            </div>
            <!-- Location -->
            <div class="character__item">
              <div class="character__title title"><span class="title__text">{{detail.location}}</span></div>
              <div class="character__value value"><span class="value__text">{{getUsersId.location.url}}</span></div>
            </div>
            <!-- Episode -->
            <div class="character__item">
              <div class="character__title title"><span class="title__text">{{detail.episode}}</span></div>
              <div class="character__value value">
                <ul class="value__list">
                  <li
                    class="value__item"
                    v-for="episod of getUsersId.episode">
                    <span class="value__text">{{episod}}</span>,
                  </li>
                </ul>
              </div>
            </div>
            <!-- Status -->
            <div class="character__item">
              <div class="character__title title"><span class="title__text">{{detail.status}}</span></div>
              <div class="character__value value"><span class="value__text">{{getUsersId.status}}</span></div>
            </div>
            <!-- Created -->
            <div class="character__item">
              <div class="character__title title"><span class="title__text">{{detail.created}}</span></div>
              <div class="character__value value"><span class="value__text">{{getUsersId.created}}</span></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>
<script>
  export default {
    name: "detailPage",
    data: () => ({
      pageTitle: "Детальная страница",
      detail: {
        name: "Имя персонажа",
        media: "Аватар персонажа",
        species: "Расса персонажа",
        gender: "Пол персонажа",
        location: "Локация персонажа",
        episode: "Эпизод персонажа",
        status: "Статус персонажа",
        created: "Создание персонажа",
      },
      characterGet: {
        id: null,
        url: null
      },
      character: {}
    }),
    computed: {
      // Список персонажей
      getUsersId() {
        return this.$store.getters['users/getUsersId'](Number(this.$route.params.id));
      },
    },
    methods: {
      methodChangeAvatar(e) {
        const reader = new FileReader();
        reader.onload = (event) => {
          this.characterGet.url = event.target.result;
          this.characterGet.id = this.$route.params.id;
          this.$store.dispatch('users/actionsChangeAvatar', this.characterGet);
        };
        reader.readAsDataURL(e.target.files[0]);
      },
    },
  }
</script>
