<template>
  <section class="layout__section section">
    <div class="section__header">
      <div class="container">
        <div class="wysiwyg">
          <h1>{{pageTitle}}</h1>
        </div>
      </div>
    </div>
    <div class="section__main">
      <div class="container">
        <div class="characters">
          <div class="row">
            <div class="col col_9 col_mob-12">
              <div class="wysiwyg">
                <h2>Поиск персонажей</h2>
              </div>
              <div class="characters__filter filter dropdown">
                <div class="filter__search search">
                  <div class="form-item form-item_before">
                    <div class="form-item__main">
                      <div class="form-item__field">
                        <input class="form-item__input" type="text"
                               v-model="searchValue"
                               placeholder="Поиск персонажа">
                      </div>
                      <div class="form-item__media media">
                        <svg class="media__ico">
                          <use xlink:href="../assets/img/sprite.svg#search"></use>
                        </svg>
                      </div>
                    </div>
                  </div><!-- //form-item -->
                </div>
                <div class="dropdown__list"
                     v-if="searchValue.length >= 3">
                  <div class="characters__list">
                    <div class="characters__item"
                         v-for="user of getUsers.filter(t => {return t.name.toLowerCase().includes(searchValue.toLowerCase())})"
                         :key="user.id"
                         @click="openUser(user)">
                      <div class="characters__main">
                        <div class="characters__content">
                          <div class="characters__title title">
                            <span class="title__text">{{user.name}}</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col col_3 col_mob-12">
              <div class="wysiwyg">
                <h2>Избранные перонажи</h2>
              </div>
              <div class="characters__favorite favorite dropdown">
                <div class="favorite__preview"
                     @click="favoriteStatus = !favoriteStatus">
                  <svg class="favorite__ico">
                    <use xlink:href="../assets/img/sprite.svg#favorite"></use>
                  </svg>
                  <span class="favorite__text">{{getUsersFavoriteListId.length}}</span>
                </div>
                <div class="dropdown__list"
                     v-if="favoriteStatus && getUsersFavoriteListId.length">
                  <div class="characters__list">
                    <div class="characters__item"
                         v-for="user of getUsers.filter((t) => getUsersFavoriteListId.includes(t.id))"
                         :key="user.id"
                         @click="openUser(user)">
                      <div class="characters__main">
                        <div class="characters__content">
                          <div class="characters__title title"
                               @click="openUser(user)">
                            <span class="title__text">{{user.name}}</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="characters__list">
            <div class="characters__item"
                 v-for="user of getUsers"
                 :key="user.id">
              <div class="characters__media media"
                   @click="openUser(user)"
                   :style="{ backgroundImage: 'url(' + user.image + ')' }">
              </div>
              <div class="characters__main">
                <div class="characters__content">
                  <div class="characters__title title"
                       @click="openUser(user)">
                    <span class="title__text">{{user.name}}</span>
                  </div>
                  <div class="characters__status status"
                       :class="user.status === 'Alive' ? 'characters__status_main' : 'characters__status_second'">
                    <span class="status__text">{{user.status}}</span>
                  </div>
                </div>
                <div class="characters___favorite favorite"
                     :class="{characters___favorite_active: getUsersFavoriteListId.indexOf(user.id) !== -1}"
                     @click="methodsAddToFavorites(user.id)">
                  <svg class="favorite__ico">
                    <use xlink:href="../assets/img/sprite.svg#favorite"></use>
                  </svg>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>
<style scoped lang="sass">
  @import "../assets/scss/helper/variables"
  @import "../assets/scss/helper/media"
</style>
<script>
  export default {
    name: "charactersPage",
    data: () => ({
      pageTitle: "Главная страница",
      favoriteStatus: false,
      searchValue: ""
    }),
    computed: {
      // Список персонажей
      getUsers() {
        return this.$store.getters["users/getUsers"];
      },
      // Список ID персонажей добавленных в избранное
      getUsersFavoriteListId() {
        return this.$store.getters["users/getUsersFavoriteListId"];
      },
    },
    methods: {
      // Метод переход на детальную страницу
      openUser(user) {
        this.$router.push("/" + user.id)
      },
      // Метод добавления в избранное
      methodsAddToFavorites(userId) {
        this.$store.dispatch("users/actionsUsersFavorites", userId);
      },
    }
  }
</script>
